<?xml version="1.0"?>
<!--
/**
 * @author    Manuel Cánepa <manuel@gento.com.ar>
 * @copyright GENTo 2023 Todos los derechos reservados
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <tango>
            <gento_tangotiendas>
                <guest_id>000000</guest_id>
            </gento_tangotiendas>
        </tango>
    </default>
</config>
