<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="sales_channels" showInWebsite="1">
            <group id="gento_tangotiendas" translate="label" type="text" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>Tango Tiendas</label>
                <field id="active" translate="label" type="select" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enabled</label>
                    <comment>Enable to edit specific values</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="api_token" translate="label" type="text" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>API Token</label>
                    <depends>
                        <field id="*/*/active">1</field>
                    </depends>
                </field>
                <field id="token_test" translate="label" type="button" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Test token</label>
                    <frontend_model>Gento\TangoTiendas\Block\System\Config\Button</frontend_model>
                    <depends>
                        <field id="*/*/active">1</field>
                    </depends>
                </field>
                <field id="store" translate="label" type="select" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Store</label>
                    <source_model>Gento\TangoTiendas\Model\Config\Source\Stores</source_model>
                    <depends>
                        <field id="*/*/active">1</field>
                    </depends>
                </field>
                <field id="warehouse" translate="label" type="select" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Warehouse</label>
                    <source_model>Gento\TangoTiendas\Model\Config\Source\Warehouses</source_model>
                    <depends>
                        <field id="*/*/active">1</field>
                    </depends>
                </field>
                <field id="guest_id" translate="label" type="text" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Guest customer ID</label>
                    <comment>Tango customer ID for guest customer</comment>
                    <depends>
                        <field id="*/*/active">1</field>
                    </depends>
                </field>
                <group id="import_stock" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Scheduled Import Stock Settings</label>
                    <field id="enabled" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                        <label>Enabled</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="frequency" translate="label" type="select" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Frequency</label>
                        <source_model>Magento\Cron\Model\Config\Source\Frequency</source_model>
                        <depends>
                            <field id="enabled">1</field>
                        </depends>
                    </field>
                    <field id="time" translate="label" type="time" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Start Time</label>
                        <backend_model>Gento\TangoTiendas\Model\Config\Backend\Stock\Cron</backend_model>
                        <depends>
                            <field id="enabled">1</field>
                        </depends>
                    </field>
                </group>
            </group>
        </section>
    </system>
</config>
